* {
	background-image: none;
	box-shadow: none;
}
window {background-color: rgba(50, 0, 0, 0.5);}
button {
	text-decoration-color: #FFFFFF;
    	color: #FFFFFF;
	border-radius:0px;
	border-color:#320000;
	background-color: #320000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}
button:focus, button:active {
	background-color: #ff0000;
	outline-style: none;
}
#lock {background-image: image(url("/ast/spr/wlogout/icons/lock.png"));}
#logout {background-image: image(url("/ast/spr/wlogout/icons/logout.png"));}
#suspend {background-image: image(url("/ast/spr/wlogout/icons/suspend.png"));}
#hibernate {background-image: image(url("/ast/spr/wlogout/icons/hibernate.png"));}
#shutdown {background-image: image(url("/ast/spr/wlogout/icons/shutdown.png"));}
#reboot {background-image: image(url("/ast/spr/wlogout/icons/reboot.png"));}
